.nav-container {
  width: 100%;
  padding: 1em;
}

.tab-content-container {
  margin: 1em;
}

.task-list-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.2em 0.2em 0.2em;
}

.date-badge {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}